section.list-characters div.grid-container {
  max-width: 1024px;
  padding: 20px 25px;
  margin: 0 auto;
}

ul.MuiPagination-ul {
  margin: 1rem auto;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  section.list-characters div.grid-container {
    padding: 20px 0;
  }
}
